{% extends 'base.html' %}

{% block content %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'Forms:edit_student' students.id %}" method="post">
    {% csrf_token %}
        <label for="student_name">Имя студента</label>
    <input type="text" name="student_name" id="student_name" value="{{ students.name }}">
        <label for="student_surname">Фамилия студента</label>

    <input type="text" name="student_surname" id="student_surname" value="{{ students.surname }}">
        <p>Выберете группу студента:</p>
        <div class="checkbox">
        {% for group in groups_list %}
            <p>
                <label for="group{{ forloop.counter }}">{{ group.group_num }}</label><br>
                <input type="radio" name="group" id="group{{ forloop.counter }}" value="{{ group.id }}">
            </p>
        {% endfor %}
        </div>
    <input type="submit" value="Изменить">
    </form>
{% endblock %}
